{% extends "base.html" %}
{% block title %}Mwafunzi - Rules and Regulations{% endblock %}
{% block page_content %}
<div class="page-header">
    <h1>Rules and Regulations</h1>
</div>
<ol>
    <li>No illegal items should be sold on the platform, for example, marijuana, animal skins,
        horns, etc.
    </li>
    <li>If goods are found to be faulty, damaged or expired, they will be confiscated
        or thrown away
    </li>
    <li>No refunds will be given after confirmation of purchase of goods unless faulty</li>
    <li>Do not use personal details of another student during registration or login</li>
    <li>Keep the reciept of sale carefully incase of any future incidences</li>
    <li>A user who does not adhere to this rules will have his/her account deactivated,
        and <b>WILL</b> face punishment according to the school rules and regulations. 
    </li>
</ol>
<hr>
<div class="page-header">
    <h1>Tips</h1>
</div>
<ol>
    <li>Foodstuffs that are rare in the common market will do well on the platform,
        for example, unique soda varieties
    </li>
    <li>Always add a clear, visible picture of your commodity to attract buyers</li>
    <li>A clear, brief description of your commodity helps to pull buyers</li>
    <li>Balance discount given and profit made effectively 
        to avoid making a huge loss</li>
</ol>
{% endblock %}